@charset "UTF-8";
/*Essa é a folha de estilização do site para quando for impresso*/

*{
    margin: 10px;
    padding: 10px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

ul > li{
    display: inline-block;
}
article{
    width: 100%;
}
article::after{
    content: 'Esse artigo foi retirado do site joaovitinhonoticias.com';
}