@charset "UTF-8";

@media print{

}



/*VERSÃO PARA TABLETES LANDSCAPE E OUTROS*/
@media screen and (min-width: 768px){
    *{
        box-sizing: border-box;
    }
header > menu{
    display: block;
}
ul > li{
    display: inline-block;
}

#burguer{
    display: none;
}
main{
    max-width: 850px;
}
}



