@charset "UTF-8";

/*VERSÃO MOBILE FIRST*/

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}
html, body{
    
    height: 98vh;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
body{
    background-color: rgb(199, 193, 193);
    
}
header{
    background-color: gray;
    
}
header > h1{
    padding: 10px;
    text-align: center;
    font-size: 2.2em;
    
    margin-bottom: 10px;
}
#burguer{
    
    background-color: rgb(44, 44, 44);
    display: block;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 10px;
}
span > a{
    text-decoration: none;
    color: white;
}
#burguer:hover{
    background-color: rgb(65, 65, 65);

}
header > menu{
    
    display: none;
    color: rgb(70, 70, 70);
    
   
}
menu > ul{
    
    list-style-type: none;
}
ul > li{
    border-top: 2px solid gray;
    background-color: rgba(46, 46, 46, 0.801);
    text-align: center;
    padding: 10px;
    
    
}
menu > ul > li > a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
ul > li:hover{
    
    background-color: rgb(146, 146, 146);
    border-radius: 10px;  
}
ul > li:active{
    transform: scale(95%);
    transition: 0.2s;
}
main{
    background-color: white;
    width: 95vw;
    margin: auto;
    border-radius: 10px;
    
}
article > h1{
    padding: 10px;
    margin: 10px;
    font-size: 1.9em;
}
article > p{
    padding: 20px;
    text-indent: 25px;
    line-height: 23px;
}