@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(imagens/pexels-80197633-8742687.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
main{
    position: relative;
    height: 100vh;
   
}
#iphone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 311px;
    height: 627px;
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    
}
#iphone > iframe{
    position: absolute;
    top: 80px;
    left: 22px;
    width: 268px;
    height: 472px;
}
#projetos{
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}
img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}